@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azulMarinoOscuro: #091d36; /*estilo1*/
    --azulMarino: #101e5a; /*estilo2*/
    --azulMarinoClaro: #5d80b6; /*estilo3*/
    --azulCeleste: #bfcee1; /*estilo4*/
    --blancoRoto: #f7f8f9; /*estilo5*/
    --negro: #000000; /*estilo6*/
    --azulGrisaceo: #8e9092; /*estilo7*/
    --grisClaro: #cfcfcd; /*estilo8*/
}

/* .montserrat-<uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

.sin {
    padding: 0;
    margin: 0;
}

.icono {
    width: 20px;
}
.home {
    width:30px;
}

body {
    background-color: var(--azulCeleste);
}

/* nav */ 

    .navbar {
        background-color: var(--azulMarinoOscuro);
    }

    .nav-link {
        color: var(--blancoRoto);
    }

    .nav-link:hover {
        color: var(--azulGrisaceo);
    }

    .nav-link.active {
        background-color: var(--azulCeleste);
        color: var(--negro) !important;
        border-radius: 10px;
    }

    .dropdown-menu {
        width: 55px;
        min-width: 55px;
    }

/* main */
    .imgGafas {
        width: 100%;
    }

/* para cambios en tamaños a partir de sm */
@media screen and (min-width: 576px) {

    /* main */
        .imgGafas {
            width: 60%;
            margin: 10% 20%;
        }
}

/* para cambios en tamaños a partir de md */
@media screen and (min-width: 768px) {

    /* main */
        .imgGafas {
            width: 60%;
            margin: 0 23%;
        }
}



/* Y DE LOS ACCESORIOS PARA QUE SE VENA BIEN EN MD*/
