@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azulMarinoOscuro: #091d36; /*estilo1*/
    --azulMarino: #101e5a; /*estilo2*/
    --azulMarinoClaro: #5d80b6; /*estilo3*/
    --azulCeleste: #bfcee1; /*estilo4*/
    --blancoRoto: #f7f8f9; /*estilo5*/
    --negro: #000000; /*estilo6*/
    --azulGrisaceo: #8e9092; /*estilo7*/
    --grisClaro: #cfcfcd; /*estilo8*/
}

/* .montserrat-<uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: var(--azulMarinoOscuro);
    text-align: center;
    padding: 50px 0px;
}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: var(--azulMarino);
    margin: 2%;
}

h3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: var(--azulMarinoClaro);
    margin: 4%;
    text-align: center;
}

p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    font-size: 15px;
    color: var(--negro);
    text-align: center;
}

.sin {
    padding: 0;
    margin: 0;
}

.icono {
    width: 20px;
}

body {
    /* background-color: var(--azulCeleste); */
    background: linear-gradient(to bottom, var(--azulCeleste), var(--blancoRoto));
}

/* nav */

    .navbar {
        background-color: var(--azulMarinoOscuro);
    }

    .nav-link {
        color: var(--blancoRoto);
        width: 100%;
        text-align: center;
    }

    .nav-link:hover {
        color: var(--azulGrisaceo);
    }

    .nav-link.active {
        background-color: var(--azulCeleste);
        color: var(--negro) !important;
        border-radius: 8px;
    }

    .dropdown-menu {
        text-align: center;
        width: 100%;
    }

/* main */

    /* index */

        .textoInicio {
            text-align: justify;
            padding: 10px 10px 40px 10px;
        }

        .imagenInicio {
            width: 100%;
            max-width: 600px;
            padding-bottom: 50px;
        }

    /* gafas */

        .imgGafas {
            width: 100%;
        }

        .textoGafas {
            text-align: start;
            margin: 20px 5px 40px 5px;
            min-height: 100%;
        }

    /* accesorios */

        .imgAccesorio {
            width: 100%;
            max-width: 600px;

        }

        .textoAccesorio {
            text-align: left;
            padding: 50px 5px 40px 5px;
            min-height: 100%; /* para que se alinée con la foto */
            margin-bottom: 50px;
        }

    /* contacto */

        label {
            padding-bottom: 5px;
        }

        input {
            height: 35px;
            border: none;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        input::placeholder {
            color: var(--azulMarinoOscuro);
        }

        .botonRadio {
            height: auto;
        }

        textarea {
            height: 80px;
            border: none;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .botonFormulario {
            height: 35px;
            border: none;
            border-radius: 8px;
            color: white;
            background-color: #091D36;
        }

        .botonFormulario:hover {
            color: #8E9092;
        }

        .botonFormulario:active {
            color: #000000;
            background-color: #BFCEE1;
        }

    /* ubicación */

        .mapaUbicacion {
            width: 100%;
            height: 300px;
            border: 2px solid var(--azulMarinoClaro);
        }

/* footer */

    .footer {
        background-color: var(--azulMarinoOscuro);
        text-align: center;
        margin-top: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .tituloFooter {
        text-align: center;
        margin: 0;
    }

    .social-icons>a {
        color: var(--azulCeleste);
        margin: 5px;
        text-decoration: none;
        font-size: 24px;
    }

    .textoFooter {
        font-size: smaller;
        color: var(--grisClaro);
        margin-top: 20px;
    }

/* para cambios en tamaños a partir de sm */
@media screen and (min-width: 576px) {

    h1 {
        text-align: left;
        padding-left: 25px;
    }

    .parrafoContacto {
        text-align: left;
    }

    /* main */

        /* gafas */

            .imgGafas {
                width: 100%;
                margin: 0;
                padding: 10px;
                border-radius: 10%;
            }

        /* accesorios */

            .imgAccesorio {
                width: 100%;
            }

            .textoAccesorio {
                padding: 20px 5px 40px 5px;
            }

        /* ubicación */

            .mapaUbicacion {
                height: 500px;
                border-radius: 10px;
            }
}

/* para cambios en tamaños a partir de md */
@media screen and (min-width: 768px) {

    .h3Index {
        text-align: left;
        padding-left: 20px;
    }

    /* nav */

        .dropdown-menu {
            width: 55px;
            min-width: 55px;
        }

    /* main */

        /* index */

            .imagenInicio {
                text-align: center;
            }

        /* gafas */

            .imgGafas {
                width: 100%;
                max-width: 500px;
                /* padding: 5% 10%; */
            }
            
        /* accesorios */

            .imgAccesorio {
                width: 100%;
                padding-bottom: 50px;
            }

            .textoAccesorio {
                min-height: 0;
            }

        /* ubicación */

            .mapaUbicacion {
                height: 600px;
            }
}
