/* para cambios en tamaños a partir de md */
@media screen and (min-width: 768px) {
    
    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10
    }

    .order-md-11 {
        order: 11
    }

    .order-md-12 {
        order: 12
    }

    .order-md-13 {
        order: 13
    }

    .order-md-14 {
        order: 14
    }

    .order-md-15 {
        order: 15
    }

    .order-md-16 {
        order: 16
    }

    .order-md-17 {
        order: 17
    }

    .order-md-18 {
        order: 18
    }

    .order-md-19 {
        order: 19
    }

    .order-md-20 {
        order: 20
    }

    .order-md-21 {
        order: 21
    }
}
