<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accesories - Gelery Sunglasses</title>
        <link rel="icon" href="../../assets/logo/favicon.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
    </head>
    <body>
        <div class="container">

            <!-- header-navbar -->

            <div class="row">
                <nav class="col-12 navbar navbar-expand-md navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="home.html">
                            <img class="rounded-circle" src="../../assets/logo/logo.png" alt="Gelery Sunglasses Logo" width="100">
                        </a>

                        <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="sunglasses.html">Sunglasses</a></li>
                                <li class="nav-item"><a class="nav-link" href="accesories.html">Accesories</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                                <li class="nav-item"><a class="nav-link" href="ubication.html">Ubication</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-globe"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a id="botonES" class="dropdown-item" href="#"><img class="icono" src="../../assets/iconos/espana.png" alt="Spanish"></a></li> 
                                        <li><a id="botonEN" class="dropdown-item" href="#"><img class="icono" src="../../assets/iconos/reino-unido.png" alt="English"></a></li> 
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- main -->

            <div class="row">
                <div class="col-12 sin">
                    <h1>Accesories</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-7 col-md-6 sin">
                    <img class="imgAccesorio" src="../../assets/imagenes/accesorios/w_accesorios1.webp" alt="Sunglasses accesories">
                </div>
                <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
                    <p class="textoAccesorio">
                        Small metallic flowers in gold and silver tones in the corners of the frame. The flowers are designed with polished 
                        finishes that reflect light, adding a touch of shine and sophistication.
                    </p>
                </div>

                <div class="col-12 col-sm-7 col-md-6 sin">
                    <img class="imgAccesorio" src="../../assets/imagenes/accesorios/w_accesorios2.webp" alt="Sunglasses accesories">
                </div>
                <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
                    <p class="textoAccesorio">
                        This delicate accessory is designed with a duo of pastel-colored leaves, such as pink and sky blue, framed in a gold 
                        finish. Perfect for adding a sophisticated touch to your glasses. Ideal for those who want to stand out with subtle 
                        and elegant details.
                    </p>
                </div>

                <div class="col-12 col-sm-7 col-md-6 sin">
                    <img class="imgAccesorio" src="../../assets/imagenes/accesorios/w_accesorios3.webp" alt="Sunglasses accesories">
                </div>
                <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
                    <p class="textoAccesorio">
                        These delicate heart-shaped pendants combine a minimalist design with botanical engravings in soft pastel tones 
                        such as green, white, and pink. The gold finish adds an elegant and warm touch, making them perfect for personalizing 
                        your glasses or using them as charms on other accessories.
                    </p>
                </div>

                <div class="col-12 col-sm-7 col-md-6 sin">
                    <img class="imgAccesorio" src="../../assets/imagenes/accesorios/w_accesorios4.webp" alt="Sunglasses accesories">
                </div>
                <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
                    <p class="textoAccesorio">
                        Give your glasses a unique touch with these delicate marine-inspired pendants. Made from gold and silver metals, 
                        they feature minimalist designs of shells and stripes in pastel tones like blue and white. Perfect for those 
                        who want to stand out with small yet meaningful accessories.
                    </p>
                </div>

                <div class="col-12 col-sm-7 col-md-6 sin">
                    <img class="imgAccesorio" src="../../assets/imagenes/accesorios/w_accesorios5.webp" alt="Sunglasses accesories">
                </div>
                <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
                    <p class="textoAccesorio">
                        Add a touch of nature to your glasses with this decorative metallic green dragonfly clip. A minimalist design 
                        that perfectly complements both modern and classic glasses. Its discreet size ensures style without being overwhelming.
                    </p>
                </div>

                <div class="col-12 col-sm-7 col-md-6 sin">
                    <img class="imgAccesorio" src="../../assets/imagenes/accesorios/w_accesorios6.webp" alt="Sunglasses accesories">
                </div>
                <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
                    <p class="textoAccesorio">
                        Customize your accessories with designs inspired by your favorite character, like this small Deadpool, or trends 
                        like Sonny Angel. From unique details, such as iconic symbols and characteristic colors, to personalized engravings, 
                        you can create one-of-a-kind pieces that reflect your passion and style, making each accessory as special 
                        as the story you love.
                    </p>
                </div>
            </div>

            <!-- footer -->

            <div class="row">
                <div class="col-12 footer">
                    <h3 class="tituloFooter">Social media</h3>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/gelery_sunglasses/profilecard/?igsh=MXJoeWZhOTN2aDg5eA==" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://www.tiktok.com/@gelery_sunglasses?_t=ZG-8tJOG16BAXI&_r=1" target="_blank">
                            <i class="bi bi-tiktok"></i>
                        </a>
                    </div>
                    <p class="textoFooter">
                        &copy; 2025 Gelery Sunglasses. All rights reserved <br>
                        Designed by <a href="#" target="_blank">InfynixApp</a>
                    </p>
                </div>
            </div>

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="../../js/navbar.js"></script>
    </body>
</html>
