<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gafas de sol - Gelery Sunglasses</title>
        <link rel="icon" href="../../assets/logo/favicon.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../../custom/custom.css">
    </head>
    <body>
        <div class="container">

            <!-- header-navbar -->

            <div class="row">
                <nav class="col-12 navbar navbar-expand-md navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <img class="rounded-circle" src="../../assets/logo/logo.png" alt="Logo Gelery Sunglasses" width="100">
                        </a>

                        <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="gafas.html">Gafas de sol</a></li>
                                <li class="nav-item"><a class="nav-link" href="accesorios.html">Accesorios</a></li>
                                <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
                                <li class="nav-item"><a class="nav-link" href="ubicacion.html">Ubicación</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><img class="icono" src="../../assets/iconos/idioma.png" alt="Seleccionar idioma"></a>
                                    <ul class="dropdown-menu">
                                        <li><a id="botonES" class="dropdown-item" href="#"><img class="icono" src="../../assets/iconos/espana.png" alt="Español"></a></li> 
                                        <li><a id="botonEN" class="dropdown-item" href="#"><img class="icono" src="../../assets/iconos/reino-unido.png" alt="Inglés"></a></li> 
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- main -->

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol1.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima molestiae velit eum non, odio a necessitatibus sint laboriosam dolores illum eligendi veritatis temporibus, delectus ad nostrum. Provident asperiores ipsa labore.</p>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol2.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis soluta explicabo numquam rerum? Magni ipsa incidunt ratione ipsam neque doloribus, consequuntur aut qui sed suscipit dolor fuga provident consectetur quaerat!</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol3.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vel culpa, cupiditate placeat dignissimos earum corporis hic libero, nisi modi veniam doloribus vero quia, alias voluptatem cumque ad? Deleniti, ex.</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas  sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol4.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut saepe ut voluptates repellendus alias beatae corrupti numquam fuga corporis eum ipsum quod veritatis aliquid, quos nihil facere odio. Sunt, iusto?</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas  sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol5.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, hic quos! Temporibus adipisci eius, repudiandae est atque quasi id dicta, corrupti laboriosam nam quas, veritatis praesentium magni iure sit eaque.</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol6.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iste, minus rerum quam quod odit impedit. Distinctio ab, veniam debitis corporis, magni possimus perspiciatis ducimus sunt ea, animi ut? Dolores!</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol7.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum ipsa rem itaque totam, quidem placeat minus tempore perspiciatis nobis, aliquam nostrum laboriosam explicabo, quaerat consectetur et cupiditate alias! Itaque, placeat!</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol8.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloremque quae eligendi! Inventore delectus enim excepturi, libero impedit, quod iste ipsam atque rem, quasi minus suscipit? Qui sapiente eligendi expedita.</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol9.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsa quis odit perferendis quia distinctio expedita commodi veniam reiciendis aliquid, cum soluta, unde facere non fugiat consequuntur inventore illum labore?</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 sin">
                    <img class="imgGafas sin" src="../../assets/imagenes/gafas de sol/w_gafasdesol10.webp" alt="producto gafas de sol">
                    <p class="textocentrado">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis fugiat repellat modi quidem sint tempore voluptates ratione consequatur totam minima placeat beatae, natus ex dolore voluptatum quos mollitia eos voluptate!</p>
                </div>
            </div>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="../../js/navbar.js"></script>
    </body>
</html>
