<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gafas de sol - Gelery Sunglasses</title>
        <link rel="icon" href="../../assets/logo/favicon.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
        <link rel="stylesheet" href="../../css/framework.css">
    </head>

    <body>
        <div class="container">

            <!-- header-navbar -->

            <div class="row">
                <nav class="col-12 navbar navbar-expand-md navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <img class="rounded-circle" src="../../assets/logo/logo.png" alt="Logo Gelery Sunglasses" width="100">
                        </a>

                        <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link active" href="gafas.html">Gafas de sol</a></li>
                                <li class="nav-item"><a class="nav-link" href="accesorios.html">Accesorios</a></li>
                                <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
                                <li class="nav-item"><a class="nav-link" href="ubicacion.html">Ubicación</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-globe"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a id="botonES" class="dropdown-item" href="#"><img class="icono" src="../../assets/iconos/espana.png" alt="Español"></a></li> 
                                        <li><a id="botonEN" class="dropdown-item" href="#"><img class="icono" src="../../assets/iconos/reino-unido.png" alt="Inglés"></a></li> 
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- main -->

            <div class="row">
                <div class="col-12 sin">
                    <h1 class="titulo">Gafas de sol</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 order-md-0 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol1.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-3">
                    <p class="textoGafas">
                        Añade un toque de glamour mediterráneo a tu estilo con estas exclusivas gafas de sol. Su montura decorada con detalles brillantes en azul y dorado captura la esencia del verano, mientras que sus lentes oscuras ofrecen máxima protección. Perfectas para quienes buscan elegancia y distinción en cada detalle.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-1 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol2.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-4">
                    <p class="textoGafas">
                        Descubre la perfecta armonía entre estilo clásico y contemporáneo con estas gafas de sol de montura negra mate y lentes degradadas. Su diseño minimalista y atemporal las convierte en el complemento ideal para cualquier aventura, desde paseos urbanos hasta escapadas llenas de historia.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-2 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol3.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-5">
                    <p class="textoGafas">
                        Estas elegantes gafas de sol combinan diseño moderno y sofisticación. Con su distintiva montura metálica dorada y lentes redondas en un tono azul profundo, son el accesorio perfecto para destacar en cualquier ocasión. Protege tus ojos con estilo y luce un look único y atrevido.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-6 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol4.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-9">
                    <p class="textoGafas">
                        Gafas de sol de inspiración mediterránea con un diseño moderno y sofisticado. La montura negra con detalles geométricos dorados resalta el lujo y la exclusividad. Las patillas de efecto carey añaden un toque distintivo, mientras que las lentes marrones ofrecen una protección UV confiable con estilo.
                    </p>
                </div>
                

                <div class="col-12 col-sm-6 col-md-4 order-md-7 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol11.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-10">
                    <p class="textoGafas">
                        Gafas de sol modernas con una montura azul mate de estilo rectangular y un diseño robusto que aporta un aire moderno y masculino. Las lentes espejadas presentan un acabado en tonos púrpura vibrante, que no solo ofrecen protección contra los rayos UV, sino que también reflejan un estilo atrevido y contemporáneo.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-8 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol12.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-11">
                    <p class="textoGafas">
                        Diseñadas para quienes buscan un toque audaz y moderno, estas gafas cuentan con lentes azul espejo que capturan la atención al instante. El marco metálico dorado es ligero y resistente, con un diseño minimalista que complementa cualquier atuendo. Perfectas para actividades al aire libre.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-12 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol7.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-15">
                    <p class="textoGafas">
                        Gafas de sol con diseño exclusivo, combinando elegancia y sofisticación. La montura negra se complementa con detalles dorados grabados, ofreciendo un estilo único y lujoso. Sus lentes marrones degradados brindan protección UV y un toque clásico, ideal para cualquier ocasión.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-13 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol8.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-16">
                    <p class="textoGafas">
                        Elegantes gafas de sol con montura azul turquesa de bordes redondeados, inspiradas en un diseño retro pero con un toque moderno. Incorporan detalles dorados en las patillas, incluyendo un motivo decorativo que evoca sofisticación y exclusividad.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 order-md-14 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol9.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-4 order-md-17">
                    <p class="textoGafas">
                        Gafas de sol con un diseño audaz y artístico. Su montura en tonos marmolados azulados aporta un estilo único y contemporáneo, complementado con detalles dorados que evocan elegancia. Las lentes oscuras ofrecen máxima protección UV, ideales para quienes buscan funcionalidad con un toque de creatividad.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-6 order-md-18">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol13.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-6 order-md-20">
                    <p class="textoGafas">
                        Con un diseño minimalista y refinado, estas gafas de montura blanca son el epítome de la elegancia. Las lentes oscuras crean un contraste atractivo, mientras que el marco delgado y estilizado garantiza comodidad durante todo el día. Perfectas tanto para eventos formales como para un look casual y moderno.
                    </p>
                </div> 

                <div class="col-12 col-sm-6 col-md-6 order-md-19 sin">
                    <img class="imgGafas" src="../../assets/imagenes/gafas de sol/w_gafasdesol14.webp" alt="producto gafas de sol">
                </div>
                <div class="col-12 col-sm-6 col-md-6 order-md-21">
                    <p class="textoGafas">
                        Estas gafas ofrecen un diseño audaz y contemporáneo con una montura negra de acabado mate. Las líneas geométricas de su diseño se combinan con lentes polarizadas. Ideales para quienes buscan funcionalidad sin sacrificar estilo, son perfectas para cualquier ocasión.
                    </p>
                </div>
            </div>

            <!-- footer -->

            <div class="row">
                <div class="col-12 footer">
                    <h3>Redes sociales</h3>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/gelery_sunglasses/profilecard/?igsh=MXJoeWZhOTN2aDg5eA==" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://www.tiktok.com/@gelery_sunglasses?_t=ZG-8tJOG16BAXI&_r=1" target="_blank">
                            <i class="bi bi-tiktok"></i>
                        </a>
                    </div>
                    <p class="textoFooter">
                        &copy; 2025 Gelery Sunglasses. Todos los derechos reservados. <br>
                        Diseñado por <a href="#" target="_blank">InfynixApp</a>
                    </p>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="../../js/navbar.js"></script>
    </body>
</html>
